name: Build
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: gradle/wrapper-validation-action@v1
      - uses: actions/setup-java@v1
        with:
          java-version: 17
      - name: Run gradle build & test
        run: ./gradlew runGametest --stacktrace
      - uses: actions/upload-artifact@v2
        with:
          name: Artifacts
          path: |
            build/libs/
            build/junit.xml
            ./*/build/libs/
            ./*/build/junit.xml
